/* Estilos globais */
body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.header {
    width: 100%;
    background-color: #0069D9;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header h3 {
    margin: 0;
    color: #fff;
}

.App-profile {
    align-items: center;
    justify-content: center;
    margin-top: 82px !important;
    margin: 0 auto;
}

.footer {
    width: 100%;
    background-color: #0069D9;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    font-weight: bold;
}

/* ResetPassword.css */
.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.small {
    font-size: 0.875rem;
}

.text-muted {
    color: #6c757d !important;
}

.ml-2 {
    margin-left: 0.5rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.photo-preview-container {
    margin-top: 10px;
    text-align: center;
}

.photo-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.align-button {
    margin-top: 10px;
}