.App {
  align-items: center;
  justify-content: center;
  margin-top: 100px !important;
  margin: 0 auto;
}

.App-feed {
  align-items: center;
  justify-content: center;
  margin-top: 82px !important;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.align-button {
  width: 50%;
}

.photo-preview-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.photo-preview {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}