.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 10px;
}

.align-button {
  width: 50%;
}